# Port for backend proxy server
PORT=3000

# WhatsApp WAHA configuration
WAHA_API_URL=mock
WAHA_API_KEY=your_waha_api_key
N8N_WEBHOOK_URL=http://localhost:5678/webhook/test

# Database Connection (MySQL)
DATABASE_URL=mysql://root:password@localhost:3306/flowstack

# AI Models API Keys
GEMINI_API_KEY=your_gemini_api_key
OPENAI_API_KEY=your_openai_api_key

# Mayar Payment Gateway Configuration
MAYAR_API_KEY=your_mayar_api_key
MAYAR_WEBHOOK_SECRET=your_mayar_webhook_secret

# Core application url
NEXT_PUBLIC_APP_URL=http://localhost:5173
